[core]
	editor = mate -w
	filemode = true
	whitespace = indent-with-non-tab,trailing-space,space-before-tab,cr-at-eol
[user]
	name = Christian Schneider
	email = cdschneider@wisc.edu
[alias]
	st = status
	co = checkout
	ci = commit
	up = pull --rebase --all
	bra = branch -a
	brd = branch -D
	unstage = reset HEAD
[push]
	default = simple
[apply]
	whitespace = nowarn
[color]
	ui = auto
[color "branch"]
	current = green bold ul
	local = green
[color "diff"]
	new = green bold
[color "status"]
	added = green bold
	changed = yellow bold
	unmerged = red bold blink