[user]
	name = Christian Schneider
	email = cdschneider@wisc.edu
[alias]
	st = status
	co = checkout
	ci = commit
	up = pull --all
	bra = branch -a
	brd = branch -D
	unstage = reset HEAD
[core]
	editor = mate -w
[push]
	default = simple
[apply]
	whitespace = nowarn